@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*shard style */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.bg-light{
    background-color: rgba(255, 140, 44, .1);
}


.button-primary{
    background-color: chocolate;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}




/*header style*/



/* nav bar related style*/

.nav-bar{
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
  
}
.brand{
    font-size: 3rem;
    font-weight: 700;
}

.nav-item{
    margin-left: 30px;
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    font-weight: 500;
    
    
}
.nav-bar,.banner{
    max-width: 1440pxx;
    margin: 0 auto;
}
.banner{

   text-align: center; 
}
.banner h1{
    font-size: 4rem;
    font-weight: 700;
    max-width: 841px;

}
.banner p{

}
.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
}



/*responsive media */
@media  screen and (max-width:576px) {
    .nav-bar,.nav-link{
        flex-direction: column;
    }
    
}